@import url(./variables.css);
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 350px;
}
.animation{
  background-color: var(--secondary);
  height: 105vh;
}
.header-animation{
  font-size: 60px;
  color: black;
  background-color: var(--primary);
  text-align: center;
  font-size: var(--h2);
}
:root{
  --purple:#e84545;
  --dark-blue:#000000;
  --black: #000;
  --light-red:#98bd7b;
  --dark-red: #ffffff;
  --gray: #252c30;
     /*intentions*/
 --primary:var(--purple);
 --secondary:var(--black);

  --h2:3.594rem;
}
.light{
  --primary:var(--purple);
  --secondary:var(--dark-blue);
}
.dark{
 --primary:var(--light-red);
 --secondary:var(--dark-red);
}
.btn,
.btn:link,
.btn:visited{
  text-transform: lowercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display:inline-block;
  margin: 1rem auto;
  font-size: 1rem;
  border:none;
  border-radius: 7rem;
  transition: all 0.2s;
}
.btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(255, 139, 139, 0.737);
}
